@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#img-div {
    background-image: url('../images/image-header-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-width: 1300px) {
    #img-div {
        height: 470px;
    }
}